{% extends "business/base.html" %}

{% load static %}

{% block slider %}

<div class="breadcrumb-block style-shared">
    <div class="breadcrumb-main bg-linear overflow-hidden">
        <div class="container lg:pt-[134px] pt-24 pb-10 relative">
            <div class="main-content w-full h-full flex flex-col items-center justify-center relative z-[1]">
                <div class="text-content">
                    <div class="heading2 text-center">My Account</div>
                    <div class="link flex items-center justify-center gap-1 caption1 mt-3">
                        <a href='{% url "home" %}'>Homepage</a>
                        <i class="ph ph-caret-right text-sm text-secondary2"></i>
                        <div class='text-secondary2 capitalize'>My Account</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock slider %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

{% block content %}

<div class="my-account-block md:py-20 py-10">
    <div class="container">
        <div class="content-main lg:px-[60px] md:px-4 flex gap-y-8 max-md:flex-col w-full">
            <div class="left xl:w-1/3 md:w-5/12 w-full xl:pr-[40px] lg:pr-[28px] md:pr-[16px]">
                <div class="user-infor bg-surface md:px-8 px-5 md:py-10 py-6 md:rounded-[20px] rounded-xl">
                    <div class="heading flex flex-col items-center justify-center">
                        {% if user.business %}
                            <div class="avatar">
                                <img src='{{ user.business.profile_picture.url }}' alt='avatar'
                                    class='md:w-[140px] w-[120px] md:h-[140px] h-[120px] rounded-full' />
                            </div>
                        {% endif %}
                        <div class="name heading6 mt-4 text-center">{{ user.first_name }} {{ user.last_name }}</div>
                        <div class="mail heading6 font-normal normal-case text-center mt-1">{{ user.email }}
                        </div>
                    </div>
                    <div class="menu-tab lg:mt-10 mt-6">
                        {% if request.user.is_seller %}
                            <div class="item px-5 py-4 flex items-center gap-3 cursor-pointer">
                                <i class="ph-bold ph-user text-xl"></i>
                                <a href="{% url "business_detail" request.user.business.business_slug %}"><div class="heading6">My Business</div></a>
                            </div>
                        {% endif %}
                        <div class="item px-5 py-4 flex items-center gap-3 cursor-pointer mt-2">
                            <i class="ph-bold ph-bag text-xl"></i>
                            <a href="{% url "user_orders" %}"><div class="heading6">Your Orders</div></a>
                        </div>
                        <div class="item px-5 py-4 flex items-center gap-3 cursor-pointer mt-2">
                            <i class="ph-bold ph-sign-out text-xl"></i>
                            <a href="{% url "logout" %}"><div class="heading6">Logout</div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right xl:w-2/3 md:w-7/12 w-full xl:pl-[40px] lg:pl-[28px] md:pl-[16px] flex items-center">
                <div class="text-content w-full">
                    <form method="post">
                        {% csrf_token %}
                        <div class="heading5 pb-4">Information</div>
                        <div class='grid sm:grid-cols-2 gap-4 gap-y-5'>
                            <div class="first-name">
                                <input class="border-line px-4 pt-3 pb-3 w-full rounded-lg" id="firstName" name="first_name" type="text" placeholder='First name' value="{{ first_name }}" required />
                            </div>
                            <div class="last-name">
                                <input class="border-line px-4 pt-3 pb-3 w-full rounded-lg" id="lastName" name="last_name" type="text" placeholder='Last name' value="{{ last_name }}" required />
                            </div>
                            <div class="email">
                                <input class="border-line px-4 pt-3 pb-3 w-full rounded-lg" id="email" name="email" type="email" placeholder="Email address" value="{{ email }}" required />
                            </div>
                            <div class="phone-number">
                                <input class="border-line px-4 pt-3 pb-3 w-full rounded-lg" id="username" name="username" type="text" placeholder="Username" value="{{ username }}" required />
                            </div>
                            <div class="block-button">
                                <button type="submit" class="quick-view-btn button-main sm:py-3 py-2 sm:px-5 px-4 bg-black hover:bg-green text-white rounded-full whitespace-nowrap">Update Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}