{% extends "business/base.html" %}

{% load static %}

{% block slider %}



{% endblock slider %}

{% block content %}

<div class='store-list' style="margin-top: 70px">
    <div class="container">
        <div class="item bg-surface overflow-hidden rounded-[20px] flex flex-col md:flex-row">
            <div class="md:w-1/5 p-6 flex flex-row mr-4">
                <img src='{{ business.profile_picture.url }}' alt='business_profile'
                     class='w-20 h-20 rounded-full object-cover mr-4' />
                <div class="text-content">
                    <div class="heading3">{{ business.business_name }}</div>
                    {% if request.user.is_authenticated and request.user == business.seller %}
                        <a href="{% url 'edit_business' business.business_slug %}">
                            <div class="quick-view-btn button-main sm:py-1.5 py-1 sm:px-2.5 px-2 bg-black hover:bg-green text-white rounded-full whitespace-nowrap mt-2.5">
                                Edit Your Business
                            </div>
                        </a>
                    {% else %}
                        <a href="{% url 'message_seller' business.business_slug %}">
                            <div class="quick-view-btn button-main sm:py-1.5 py-1 sm:px-2.5 px-2 bg-black hover:bg-green text-white rounded-full whitespace-nowrap mt-2.5">
                                Message Seller
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="md:w-3/3 p-5 flex flex-row justify-between">
                <div class="w-1/4 mr-8">
                    <div class="list-featrue">
                        <div class="item">
                            <div class="heading6 mt-4">Address:</div>
                            <div class="text-secondary mt-2">{{ business.address }}</div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 mr-8">
                    <div class="list-featrue">
                        <div class="item">
                            <div class="heading6">Information:</div>
                            <div class="text-secondary mt-2">{{ business.phone }}<br />
                                {{ business.email }}</div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 mr-8">
                    <div class="list-featrue">
                        <div class="item">
                            <div class="heading6">Opening Hours:</div>
                            {% for opening_hour in opening_hours %}
                            <div class="flex items-center mt-2">
                                <div class="text-secondary whitespace-nowrap">{{ opening_hour.get_day_display }}:</div>
                                {% if opening_hour.is_closed %}
                                <div class='text-title text-black whitespace-nowrap ml-2'>Closed</div>
                                {% else %}
                                {% with opening_time=opening_hour.opening_time|time:"g:sa" closing_time=opening_hour.closing_time|time:"g:sa" %}
                                <div class='text-black whitespace-nowrap ml-2'><b>{{ opening_time }} - {{ closing_time }}</b></div>
                                {% endwith %}
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="w-1/4">
                    <div class="list-featrue">
                        <div class="item">
                            <div class="heading6">Social media:</div>
                            <div class="flex items-center sm:gap-4 gap-2 mt-2">
                                <a href='{{ business.website }}' target='_blank'
                                   class="item bg-white w-10 h-10 rounded-full flex items-center justify-center hover:bg-black hover:text-white duration-300">
                                    <i class="ph-bold ph-globe"></i>
                                </a>
                                <a href='https://www.facebook.com/' target='_blank'
                                   class="item bg-white w-10 h-10 rounded-full flex items-center justify-center hover:bg-black hover:text-white duration-300">
                                    <div class="icon-facebook"></div>
                                </a>
                                <a href='https://www.instagram.com/' target='_blank'
                                   class="item bg-white w-10 h-10 rounded-full flex items-center justify-center hover:bg-black hover:text-white duration-300">
                                    <div class="icon-instagram"></div>
                                </a>
                                <a href='https://www.youtube.com/' target='_blank'
                                   class="item bg-white w-10 h-10 rounded-full flex items-center justify-center hover:bg-black hover:text-white duration-300">
                                    <div class="icon-youtube"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>


<div class="shop-square">
    <div class="shop-product">
        <div class="container">
            <div class="list-product-block style-grid relative">

                {% if business.products %}
                <div class="heading6 mt-7">Products</div>
                <div class="list-product hide-product-sold grid sm:grid-cols-3 grid-cols-2 sm:gap-[30px] gap-[20px] mt-7 lg:grid-cols-4" data-item="12">
                    {% for product in products %}
                        <div class="product-item grid-type">
                            <div class="product-main cursor-pointer block" data-item="2">
                                <div class="product-thumb bg-white relative overflow-hidden rounded-2xl">
                                    <div class="product-tag text-button-uppercase bg-green px-3 py-0.5 inline-block rounded-full absolute top-3 left-3 z-[1]">New</div>
                                    <div class="list-action-right absolute top-3 right-3 max-lg:hidden">
                                        <div class="add-wishlist-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative">
                                            <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">
                                                Add To Wishlist</div>
                                            <i class="ph ph-heart text-lg"></i>
                                        </div>
                                        <div class="compare-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative mt-2">
                                            <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">
                                                Compare Product</div>
                                            <i class="ph ph-arrow-counter-clockwise text-lg compare-icon"></i>
                                            <i class="ph ph-check-circle text-lg checked-icon"></i>
                                        </div>
                                    </div>
                                    <div class="product-img w-full h-full aspect-[3/4]">
                                        <a href="{% url "product_detail" product.business.business_slug product.product_slug %}">
                                        <img key="0" class="w-full h-full object-cover duration-700" src="{{ product.image.url }}" alt="img"><img key="1" class="w-full h-full object-cover duration-700" src="{{ product.image2.url }}" alt="img">
                                        </a>
                                    </div>
                                    <div class="list-action grid grid-cols-2 gap-3 px-5 absolute w-full bottom-5 max-lg:hidden">
                                        <div class="quick-view-btn w-full text-button-uppercase py-2 text-center rounded-full duration-300 bg-white hover:bg-black hover:text-white"
                                            data-product-slug="{{ product.product_slug }}"
                                            data-business-slug="{{ business.business_slug }}">
                                            Quick View
                                        </div>

                                   <script>

                                    function updateQuickViewModal(data) {
                                        document.getElementById("quickview-name").innerText = data.name;
                                        document.getElementById("quickview-price").innerText = `$${data.price}`;
                                        document.getElementById("quickview-description").innerText = data.description;
                                        document.getElementById("quickview-sku").innerText = data.sku;
                                        document.getElementById("quickview-categories").innerText = data.categories.join(", ");
                                        document.getElementById("quickview-tags").innerText = data.tags.join(", ");
                                      
                                        const imagesContainer = document.getElementById("quickview-images");
                                        imagesContainer.innerHTML = "";
                                        data.images.forEach(imageUrl => {
                                            const imgElement = document.createElement("div");
                                            imgElement.className = "bg-img w-full aspect-[3/4] max-md:w-[150px] max-md:flex-shrink-0 rounded-[20px] overflow-hidden md:mt-6";
                                            imgElement.innerHTML = `<img src="${imageUrl}" alt="product image" class="w-full h-full object-cover">`;
                                            imagesContainer.appendChild(imgElement);
                                        });
                                      
                                        const colorsContainer = document.getElementById("quickview-colors");
                                        colorsContainer.innerHTML = "";
                                        data.color_variations.forEach(variation => {
                                            const colorItem = document.createElement("div");
                                            colorItem.classList.add("color-item", "w-12", "h-12", "rounded-xl", "duration-300", "relative");
                                            colorItem.dataset.variationId = variation.values__id;
                                            colorItem.dataset.color = variation.values__value;
                                      
                                            if (variation.values__image) {
                                                const imgElement = document.createElement("img");
                                                imgElement.src = `/product_variations/${variation.values__image.split('/').pop()}`; // Update the image URL here
                                                imgElement.alt = "color";
                                                imgElement.classList.add("rounded-xl");
                                                colorItem.appendChild(imgElement);
                                            }
                                      
                                            const tagAction = document.createElement("div");
                                            tagAction.classList.add("tag-action", "bg-black", "text-white", "caption2", "capitalize", "px-1.5", "py-0.5", "rounded-sm");
                                            tagAction.innerText = variation.values__value;
                                            colorItem.appendChild(tagAction);
                                      
                                            colorItem.addEventListener("click", function() {
                                                colorsContainer.querySelectorAll('.color-item').forEach(i => i.classList.remove('active'));
                                                colorItem.classList.add('active');
                                                document.querySelector('#selected-color').innerText = `Color: ${variation.values__value}`;
                                            });
                                      
                                            colorsContainer.appendChild(colorItem);
                                        });
                                      
                                        const sizesContainer = document.getElementById("quickview-sizes");
                                        sizesContainer.innerHTML = "";
                                        data.size_variations.forEach(variation => {
                                          const sizeItem = document.createElement("div");
                                          sizeItem.classList.add("size-item", "w-12", "h-12", "flex", "items-center", "justify-center", "text-button", "rounded-full", "bg-white", "border", "border-line");
                                          sizeItem.dataset.variationId = variation.values__id;
                                          sizeItem.dataset.size = variation.values__value;
                                          sizeItem.innerText = variation.values__value;
                                      
                                          sizeItem.addEventListener("click", function() {
                                            sizesContainer.querySelectorAll('.size-item').forEach(i => i.classList.remove('active'));
                                            sizeItem.classList.add('active');
                                            document.querySelector('#selected-size').innerText = `Size: ${variation.values__value}`;
                                          });
                                      
                                          sizesContainer.appendChild(sizeItem);
                                        });
                                    }

                                    document.addEventListener("DOMContentLoaded", function() {
                                        const quickViewButtons = document.querySelectorAll(".quick-view-btn");
                                        const modalQuickViewBlock = document.querySelector(".modal-quickview-block");
                                        const closeQuickViewButton = document.querySelector(".modal-quickview-block .close-btn");
                                
                                        quickViewButtons.forEach(button => {
                                            button.addEventListener("click", function() {
                                                const productSlug = button.dataset.productSlug;
                                                const businessSlug = button.dataset.businessSlug;
                                
                                                console.log('Quick View Button:', button);
                                                console.log('Product Slug:', productSlug);
                                                console.log('Business Slug:', businessSlug);
                                
                                                if (!productSlug || !businessSlug) {
                                                    console.error('Product Slug or Business Slug is missing');
                                                    return;
                                                }
                                
                                                fetch(`/ajax/product/${businessSlug}/${productSlug}/`)
                                                    .then(response => {
                                                        console.log('Response status:', response.status);
                                                        if (!response.ok) {
                                                            throw new Error('Network response was not ok');
                                                        }
                                                        return response.json();
                                                    })
                                                    .then(data => {
                                                        console.log('Data:', data);
                                                        updateQuickViewModal(data);
                                                        modalQuickViewBlock.style.display = "block";
                                                    })
                                                    .catch(error => {
                                                        console.error('Error:', error);
                                                    });
                                            });
                                        });
                                
                                        closeQuickViewButton.addEventListener("click", function() {
                                            modalQuickViewBlock.style.display = "none";
                                        });
                                
                                        modalQuickViewBlock.addEventListener("click", function(event) {
                                            if (event.target === modalQuickViewBlock) {
                                                modalQuickViewBlock.style.display = "none";
                                            }
                                        });
                                    });

                                       console.log('Product ID from template:', {{ product.id|safe }});
                                       const quickViewButtons = document.querySelectorAll('.quick-view-btn');
                                   
                                       quickViewButtons.forEach(button => {
                                           button.addEventListener('click', () => {
                                               const productSlug = button.dataset.productSlug;
                                               const businessSlug = button.dataset.businessSlug;
                                   
                                               console.log('Quick View Button:', button);
                                               console.log('Product Slug:', productSlug);
                                               console.log('Business Slug:', businessSlug);
                                   
                                               if (!productSlug || !businessSlug) {
                                                   console.error('Product Slug or Business Slug is missing');
                                                   return;
                                               }
                                   
                                               fetch(`/ajax/product/${businessSlug}/${productSlug}/`)
                                               .then(response => {
                                                   console.log('Response status:', response.status);
                                                   if (!response.ok) {
                                                       throw new Error('Network response was not ok');
                                                   }
                                                   return response.json();
                                               })
                                               .then(data => {
                                                   console.log('Data:', data);
                                                   updateQuickViewModal(data);
                                                   modalQuickViewBlock.style.display = "block";
                                               })
                                               .catch(error => {
                                                   console.error('Error:', error);
                                               });
                                           });
                                       });
                                   </script>
                                            <script>
                                                console.log('Product JSON data:', '{{ product.get_json_data }}');
                                            </script>
                                            
                                            <a href="{% url 'quick_shop' product.product_slug %}">
                                                <div class="quick-shop-btn text-button-uppercase py-2 text-center rounded-full duration-500 bg-white hover:bg-black hover:text-white">
                                                    Quick Buy
                                                </div>
                                            </a>
                                       
                                            
                                                <div class="quick-shop-block absolute left-5 right-5 bg-white p-5 rounded-[20px]">
                                                    <div class="list-size flex items-center justify-center flex-wrap gap-2">
                                                        <div key="0" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">XS</div><div key="1" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">S</div><div key="2" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">M</div><div key="3" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">L</div><div key="4" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">XL</div><div key="5" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">2XL</div>
                                                    </div>
                                                    <div class="add-cart-btn button-main w-full text-center rounded-full py-3 mt-4">
                                                        Buy Now
                                                    </div>
                                                    </div>
                                
                                            </div>
                                        </div>
                                        <div class="product-infor mt-4 lg:mb-7">
                                            <div class="product-sold sm:pb-4 pb-2">
                                                <div class="progress bg-line h-1.5 w-full rounded-full overflow-hidden relative">
                                                    <div class="progress-sold bg-red absolute left-0 top-0 h-full" style="width: 11%">
                                                    </div>
                                                </div>
                                                <div class="flex items-center justify-between gap-3 gap-y-1 flex-wrap mt-2">
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Sold:
                                                        </span>
                                                        <span class="max-sm:text-xs">23</span>
                                                    </div>
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Available:
                                                        </span>
                                                        <span class="max-sm:text-xs">177</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-name text-title duration-300"><a href="{% url "product_detail" product.business.business_slug product.product_slug %}">{{ product.name }}</a></div>
                                                {% if product.variation %}
                                                    <div class="list-color list-color-image max-md:hidden flex items-center gap-3 flex-wrap duration-500">
                                                        
                                                            <div class="color-item w-12 h-12 rounded-xl duration-300 relative" key="0">
                                                                <img src="./assets/images/product/color/white.png" alt="color" class="rounded-xl w-full h-full object-cover">
                                                                <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">white</div>
                                                            </div>
                                                        
                                                            <div class="color-item w-12 h-12 rounded-xl duration-300 relative" key="1">
                                                                <img src="./assets/images/product/color/purple.png" alt="color" class="rounded-xl w-full h-full object-cover">
                                                                <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">purple</div>
                                                            </div>
                                                        
                                                    </div>
                                                {% endif %}
                                            
                                    <div class="product-price-block flex items-center gap-2 flex-wrap mt-1 duration-300 relative z-[1]">
                                    <div class="product-price text-title">${{ product.price }}</div>
                                    
                                            <div class="product-origin-price caption1 text-secondary2">
                                                <del>$36.00</del>
                                            </div>
                                            <div class="product-sale caption1 font-medium bg-green px-3 py-0.5 inline-block rounded-full">
                                                -22%
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if business.services %}
                <div class="heading6 mt-7">Services</div>
                    <div class="list-product hide-product-sold grid sm:grid-cols-3 grid-cols-2 sm:gap-[30px] gap-[20px] mt-7 lg:grid-cols-4" data-item="12">
                        {% for service in services %}
                        <div class="product-item grid-type">
                            <div class="product-main cursor-pointer block" data-item="2">
                                <div class="product-thumb bg-white relative overflow-hidden rounded-2xl">
                                    <div class="product-tag text-button-uppercase bg-green px-3 py-0.5 inline-block rounded-full absolute top-3 left-3 z-[1]">New</div>
                                    <div class="list-action-right absolute top-3 right-3 max-lg:hidden">
                                        <div class="add-wishlist-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative">
                                            <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">
                                                Add To Wishlist</div>
                                            <i class="ph ph-heart text-lg"></i>
                                        </div>
                                        <div class="compare-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative mt-2">
                                            <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">
                                                Compare Product</div>
                                            <i class="ph ph-arrow-counter-clockwise text-lg compare-icon"></i>
                                            <i class="ph ph-check-circle text-lg checked-icon"></i>
                                        </div>
                                    </div>
                                    <div class="product-img w-full h-full aspect-[3/4]">
                                        <a href="{% url "service_detail" service.business.business_slug service.service_slug %}">
                                        <img key="0" class="w-full h-full object-cover duration-700" src="{{ service.image.url }}" alt="img">
                                        </a>
                                    </div>
                                
                                            </div>
                                        </div>
                                        <div class="product-infor mt-4 lg:mb-7">
                                            <div class="product-sold sm:pb-4 pb-2">
                                                <div class="progress bg-line h-1.5 w-full rounded-full overflow-hidden relative">
                                                    <div class="progress-sold bg-red absolute left-0 top-0 h-full" style="width: 11%">
                                                    </div>
                                                </div>
                                                <div class="flex items-center justify-between gap-3 gap-y-1 flex-wrap mt-2">
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Sold:
                                                        </span>
                                                        <span class="max-sm:text-xs">23</span>
                                                    </div>
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Available:
                                                        </span>
                                                        <span class="max-sm:text-xs">177</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-name text-title duration-300"><a href="{% url "service_detail" service.business.business_slug service.service_slug %}">{{ service.name }}</a></div>
                                            
                                    <div class="product-price-block flex items-center gap-2 flex-wrap mt-1 duration-300 relative z-[1]">
                                    <div class="product-price text-title">${{ service.price }}</div>
                                    
                                            <div class="product-origin-price caption1 text-secondary2">
                                                <del>$36.00</del>
                                            </div>
                                            <div class="product-sale caption1 font-medium bg-green px-3 py-0.5 inline-block rounded-full">
                                                -22%
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                <div class="list-pagination w-full flex items-center justify-center gap-4 mt-10"></div>
                <div class="item mb-4">
                    <div class="heading6">About {{ business.business_name }}</div>
                    <div class="text-secondary mt-2 lg:w-[560px] w-full text-align: justify">
                        {{ business.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}