{% extends "business/base.html" %}

{% load custom_filters %}

{% load static %}

{% block slider %}

<div class="breadcrumb-block style-shared">
    <div class="breadcrumb-main bg-linear overflow-hidden">
        <div class="container lg:pt-[134px] pt-24 pb-10 relative">
            <div class="main-content w-full h-full flex flex-col items-center justify-center relative z-[1]">
                <div class="text-content">
                    <div class="heading2 text-center">Shopping Cart</div>
                    <div class="link flex items-center justify-center gap-1 caption1 mt-3">
                        <a href="{% url 'home' %}">Homepage</a>
                        <i class="ph ph-caret-right text-sm text-secondary2"></i>
                        <div class='text-secondary2 capitalize'>Shopping Cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock slider %}

{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% block content %}

<div class="cart-block md:py-20 py-10">
    <div class="container">
        <div class="content-main flex justify-between max-xl:flex-col gap-y-8">
            <div class="xl:w-2/3 xl:pr-3 w-full">
                <div class="list-product w-full sm:mt-7 mt-5">
                    <div class='w-full'>
                        <div class="heading bg-surface bora-4 pt-4 pb-4">
                            <div class="flex">
                                <div class="w-1/2">
                                    <div class="text-button text-center">Products</div>
                                </div>
                                <div class="w-1/12">
                                    <div class="text-button text-center">Price</div>
                                </div>
                                <div class="w-1/6">
                                    <div class="text-button text-center">Quantity</div>
                                </div>
                                <div class="w-1/6">
                                    <div class="text-button text-center">Total Price</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-product-main w-full mt-3">
                            {% for item in cart_items %}
                            <div class="item flex md:mt-7 md:pb-7 mt-5 pb-5 border-b border-line w-full">
                                <div class="w-1/2">
                                    <div class="flex items-center gap-6">
                                        <div class="bg-img md:w-[100px] w-20 aspect-[3/4]">
                                            <img src="{{ item.product.image.url }}" alt="img" class="w-full h-full object-cover rounded-lg">
                                        </div>
                                        <div>
                                            <div class="text-title">{{ item.product.name }}</div>
                                            <div class="list-select mt-3">
                                                {% if item.variation %}
                                                <div class="text-secondary2 capitalize">{{ item.variation }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-1/12 price flex items-center justify-center">
                                    <div class="text-title text-center">${{ item.product.price }}</div>
                                </div>
                                <div class="w-1/6 flex items-center justify-center">
                                    <div class="quantity-block bg-surface md:p-3 p-2 flex items-center justify-between rounded-lg border border-line md:w-[100px] flex-shrink-0 w-20">
                                        <i class="ph-bold ph-minus cursor-pointer text-base max-md:text-sm" data-item-id="{{ item.id }}"></i>
                                        <div class="text-button quantity">{{ item.quantity }}</div>
                                        <i class="ph-bold ph-plus cursor-pointer text-base max-md:text-sm" data-item-id="{{ item.id }}"></i>
                                    </div>
                                </div>
                                <div class="w-1/6 flex total-price items-center justify-center">
                                    <div class="text-title text-center">${{ item_prices|get_item:item.id }}</div>
                                </div>
                                <!-- Add data attribute to the delete button -->
                                <div class="w-1/12 flex items-center justify-center">
                                    <form action="{% url 'delete_cart_item' item.id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="remove-btn ph ph-x-circle text-xl max-md:text-base text-red cursor-pointer hover:text-black duration-300" style="background: none; border: none;"></button>
                                    </form>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="xl:w-1/3 xl:pl-12 w-full">
                <div class="checkout-block bg-surface p-6 rounded-2xl">
                    <div class="heading5">Order Summary</div>
                    <div class="total-block py-5 flex justify-between border-b border-line">
                        <div class="text-title">Subtotal</div>
                        <div class="text-title">$<span class="total-product">136</span><span>.00</span></div>
                    </div>
                    <div class="total-cart-block pt-4 pb-4 flex justify-between">
                        <div class="heading5">Total</div>
                        <div class="">
                            <span class="heading5">$</span><span class="total-cart heading5">{{ total_price }}</span>
                        </div>
                    </div>
                    <div class="block-button flex flex-col items-center gap-y-4 mt-5">
                        <a href="{% url "checkout" %}" class="checkout-btn button-main text-center w-full">
                            Process To
                            Checkout</a>
                        <a class="text-button hover-underline" href="{% url "products" %}">Continue shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}