{% extends "business/base.html" %}

{% load static %}

{% block slider %}

<div class="breadcrumb-block style-img">
    <div class="breadcrumb-main bg-linear overflow-hidden">
        <div class="container lg:pt-[134px] pt-24 pb-10 relative">
            <div class="main-content w-full h-full flex flex-col items-center justify-center relative z-[1]">
                <div class="text-content">
                    <div class="heading2 text-center">Explore The Community</div>
                    <div class="link flex items-center justify-center gap-1 caption1 mt-3">
                        <a href='{% url "home" %}'>Homepage</a>
                        <i class='ph ph-caret-right text-sm text-secondary2'></i>
                        <div class='text-secondary2 capitalize'>Community</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock slider %}

{% block content %}

<div class="shop-product breadcrumb1 lg:py-20 md:py-14 py-10">
    <div class="container">
        <div class="flex max-md:flex-wrap max-md:flex-col-reverse gap-y-8">
            <div class='sidebar lg:w-1/4 md:w-1/3 w-full md:pr-12'>
                <div class="choose-color">
                    <a href="{% url "events" %}">
                        <div class="heading6">Respond to events happening near you!
                        </div>
                    </a>
                </div>
                <form id="filter-form" method="get" class="mb-4">
                    <div class="filter-brand pb-8 mt-8">
                        <div class="heading6">Countries</div>
                        <div class="list-brand mt-4">
                            {% for country in countries %}
                            <div class="brand-item flex items-center justify-between" data-item="countries">
                                <div class="left flex items-center cursor-pointer">
                                    <div class="block-input">
                                        <input type="checkbox" name="country" id="country-{{ country.id }}" value="{{ country.id }}" {% if country.id|stringformat:"i" in selected_countries %}checked{% endif %} />
                                        <i class='ph-fill ph-check-square icon-checkbox text-2xl'></i>
                                    </div>
                                    <label for="country-{{ country.id }}" class="brand-name capitalize pl-2 cursor-pointer">{{ country.name }}</label>
                                </div>
                                <div class='text-secondary2 number'>
                                    {{ country.business_set.count }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="heading6 mt-8">States</div>
                        <div class="list-brand mt-4">
                            {% for state in states %}
                            <div class="brand-item flex items-center justify-between" data-item="states">
                                <div class="left flex items-center cursor-pointer">
                                    <div class="block-input">
                                        <input type="checkbox" name="state" id="state-{{ state.id }}" value="{{ state.id }}" {% if state.id|stringformat:"i" in selected_states %}checked{% endif %} />
                                        <i class='ph-fill ph-check-square icon-checkbox text-2xl'></i>
                                    </div>
                                    <label for="state-{{ state.id }}" class="brand-name capitalize pl-2 cursor-pointer">{{ state.name }}</label>
                                </div>
                                <div class='text-secondary2 number'>
                                    {{ state.business_set.count }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
                
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const filterForm = document.getElementById('filter-form');
                        const checkboxes = filterForm.querySelectorAll('input[type="checkbox"]');
                        const businessList = document.getElementById('business-list');
                    
                        checkboxes.forEach(checkbox => {
                            checkbox.addEventListener('change', function() {
                                const formData = new FormData(filterForm);
                                const queryString = new URLSearchParams(formData).toString();
                    
                                fetch(`/community/?${queryString}`, {
                                    method: 'GET',
                                    headers: {
                                        'X-Requested-With': 'XMLHttpRequest'
                                    }
                                })
                                .then(response => response.json())
                                .then(data => {
                                    businessList.innerHTML = '';
                                    if (data.businesses.length === 0) {
                                        const noBusinessesMessage = document.createElement('p');
                                        noBusinessesMessage.textContent = 'No businesses found.';
                                        businessList.appendChild(noBusinessesMessage);
                                    } else {
                                        data.businesses.forEach(business => {
                                            const productItem = document.createElement('div');
                                            productItem.classList.add('product-item', 'list-type', 'mt-10');
                                            productItem.setAttribute('data-item', '2');
                    
                                            const productMain = document.createElement('div');
                                            productMain.classList.add('product-main', 'cursor-pointer', 'flex', 'lg:items-center', 'sm:justify-between', 'gap-7', 'max-lg:gap-5');
                    
                                            const productThumb = document.createElement('div');
                                            productThumb.classList.add('product-thumb', 'bg-white', 'relative', 'overflow-hidden', 'rounded-2xl', 'block', 'max-sm:w-1/2');
                    
                                            const productTag = document.createElement('div');
                                            productTag.classList.add('product-tag', 'text-button-uppercase', 'bg-green', 'px-3', 'py-0.5', 'inline-block', 'rounded-full', 'absolute', 'top-3', 'left-3', 'z-[1]');
                                            productTag.textContent = 'New';
                    
                                            const productLink = document.createElement('a');
                                            productLink.href = `/business/${business.business_slug}/`;
                    
                                            const productImg = document.createElement('div');
                                            productImg.classList.add('product-img', 'w-full', 'aspect-[3/4]', 'rounded-2xl', 'overflow-hidden');
                    
                                            const img = document.createElement('img');
                                            img.classList.add('w-full', 'h-full', 'object-cover', 'duration-700');
                                            img.src = business.banner_image;
                                            img.alt = 'img';
                    
                                            productImg.appendChild(img);
                                            productLink.appendChild(productImg);
                                            productThumb.appendChild(productTag);
                                            productThumb.appendChild(productLink);
                    
                                            const listAction = document.createElement('div');
                                            listAction.classList.add('list-action', 'px-5', 'absolute', 'w-full', 'bottom-5', 'max-lg:hidden');
                    
                                            const quickShopBlock = document.createElement('div');
                                            quickShopBlock.classList.add('quick-shop-block', 'absolute', 'left-5', 'right-5', 'bg-white', 'p-5', 'rounded-[20px]');
                    
                                            const listSize = document.createElement('div');
                                            listSize.classList.add('list-size', 'flex', 'items-center', 'justify-center', 'flex-wrap', 'gap-2');
                    
                                            const sizeItems = ['XS', 'S', 'M', 'L', 'XL', '2XL'];
                                            sizeItems.forEach((size, index) => {
                                                const sizeItem = document.createElement('div');
                                                sizeItem.classList.add('size-item', 'w-10', 'h-10', 'rounded-full', 'flex', 'items-center', 'justify-center', 'text-button', 'bg-white', 'border', 'border-line');
                                                sizeItem.textContent = size;
                                                listSize.appendChild(sizeItem);
                                            });
                    
                                            const addCartBtn = document.createElement('div');
                                            addCartBtn.classList.add('add-cart-btn', 'button-main', 'w-full', 'text-center', 'rounded-full', 'py-3', 'mt-4');
                                            addCartBtn.textContent = 'Add To cart';
                    
                                            quickShopBlock.appendChild(listSize);
                                            quickShopBlock.appendChild(addCartBtn);
                                            listAction.appendChild(quickShopBlock);
                                            productThumb.appendChild(listAction);
                    
                                            const productInfo = document.createElement('div');
                                            productInfo.classList.add('flex', 'sm:items-center', 'gap-7', 'max-lg:gap-4', 'max-lg:flex-wrap', 'lg:w-2/3', 'lg:flex-shrink-0', 'max-lg:w-full', 'max-sm:flex-col', 'max-sm:w-1/2');
                    
                                            const productInfor = document.createElement('div');
                                            productInfor.classList.add('product-infor', 'max-sm:w-full');
                    
                                            const productName = document.createElement('a');
                                            productName.href = `/business/${business.business_slug}/`;
                    
                                            const productNameHeading = document.createElement('div');
                                            productNameHeading.classList.add('product-name', 'heading6', 'inline-block', 'duration-300');
                                            productNameHeading.textContent = business.business_name;
                    
                                            productName.appendChild(productNameHeading);
                                            productInfor.appendChild(productName);
                    
                                            const productDesc = document.createElement('div');
                                            productDesc.classList.add('text-secondary', 'desc', 'mt-5', 'max-sm:hidden');
                                            productDesc.textContent = business.description;
                    
                                            productInfor.appendChild(productDesc);
                                            productInfo.appendChild(productInfor);
                    
                                            const actionDiv = document.createElement('div');
                                            actionDiv.classList.add('action', 'w-fit', 'flex', 'flex-col', 'items-center', 'justify-center');
                    
                                            const quickShopBtn = document.createElement('a');
                                            quickShopBtn.href = `/business/${business.business_slug}/`;
                    
                                            const quickShopBtnDiv = document.createElement('div');
                                            quickShopBtnDiv.classList.add('quick-shop-btn', 'button-main', 'whitespace-nowrap', 'py-2', 'px-9', 'max-lg:px-5', 'rounded-full', 'bg-white', 'text-black', 'border', 'border-black', 'hover:bg-black', 'hover:text-white');
                                            quickShopBtnDiv.textContent = 'See Products';
                    
                                            quickShopBtn.appendChild(quickShopBtnDiv);
                                            actionDiv.appendChild(quickShopBtn);
                    
                                            const listActionRight = document.createElement('div');
                                            listActionRight.classList.add('list-action-right', 'flex', 'items-center', 'justify-center', 'gap-3', 'mt-4');
                    
                                            actionDiv.appendChild(listActionRight);
                                            productInfo.appendChild(actionDiv);
                    
                                            productMain.appendChild(productThumb);
                                            productMain.appendChild(productInfo);
                                            productItem.appendChild(productMain);
                                            businessList.appendChild(productItem);
                                        });
                                    }
                                })
                                .catch(error => console.error('Error:', error));
                            });
                        });
                    });
                    
                </script>
                

            </div>
            <div class="list-product-block style-list lg:w-3/4 md:w-2/3 w-full md:pl-3">
                <div id="business-list" class='list-product hide-product-sold flex flex-col gap-8 mt-7' data-item="4">
                    {% if businesses %}
                    {% for business in businesses %}
                        <div data-item="2" class="product-item list-type mt-10">
                            <div class="product-main cursor-pointer flex lg:items-center sm:justify-between gap-7 max-lg:gap-5">
                                <div class="product-thumb bg-white relative overflow-hidden rounded-2xl block max-sm:w-1/2">
                                    <a href="{% url "business_detail" business.business_slug %}">
                                        <div class="product-img w-full aspect-[3/4] rounded-2xl overflow-hidden">
                                            <img src='{{ business.profile_picture.url }}' alt='business_profile'
                     class='w-20 h-20 rounded-full object-cover mr-4' />
                                        </div>
                                    </a>
                                    <div class="list-action px-5 absolute w-full bottom-5 max-lg:hidden">
                                        <div class="quick-shop-block absolute left-5 right-5 bg-white p-5 rounded-[20px]">
                                                <div class="list-size flex items-center justify-center flex-wrap gap-2">
                                                    
                                                        <div key="0" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">XS</div>
                        
                                                        <div key="1" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">S</div>
                        
                                                        <div key="2" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">M</div>
                        
                                                        <div key="3" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">L</div>
                        
                                                        <div key="4" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">XL</div>
                        
                                                        <div key="5" class="size-item w-10 h-10 rounded-full flex items-center justify-center text-button bg-white border border-line">2XL</div>
                        
                                                </div>
                                                <div class="add-cart-btn button-main w-full text-center rounded-full py-3 mt-4">Add To cart</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex sm:items-center gap-7 max-lg:gap-4 max-lg:flex-wrap lg:w-2/3 lg:flex-shrink-0 max-lg:w-full max-sm:flex-col max-sm:w-1/2">
                                        <div class="product-infor max-sm:w-full">
                                            <a href="{% url "business_detail" business.business_slug %}"><div class="product-name heading6 inline-block duration-300">{{ business.business_name }}</div></a>
                                            <div class="text-secondary desc mt-5 max-sm:hidden">{{ business.description|truncatewords:25 }}</div>
                                            <a href="{% url "business_detail" business.business_slug %}"><div class="text-button underline mt-4">See More</div></a>
                                        </div>
                                        <div class="action w-fit flex flex-col items-center justify-center">
                                            <a href="{% url "business_detail" business.business_slug %}">
                                                <div class="quick-shop-btn button-main whitespace-nowrap py-2 px-9 max-lg:px-5 rounded-full bg-white text-black border border-black hover:bg-black hover:text-white">
                                                    See Products
                                                </div>
                                            </a>
                                            <div class="list-action-right flex items-center justify-center gap-3 mt-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    {% endfor %}
                {% else %}
                <p>No businesses found.</p>
                {% endif %}
                </div>

                <div class="list-pagination w-full flex items-center gap-4 mt-10"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}