{% extends "business/base.html" %}

{% load static %}

{% block slider %}

{% load custom_filters %}

<div class="breadcrumb-product">
    <div class="main bg-surface md:pt-[88px] pt-[70px] pb-[14px]">
        <div class="container flex items-center justify-between flex-wrap gap-3">
            <div class="left flex items-center gap-1 mt-10">
                <a href='{% url "home" %}' class='caption1 text-secondary2 hover:underline'>Homepage</a>
                <i class='ph ph-caret-right text-xs text-secondary2'></i>
                <a href="{% url "business_detail" business.business_slug %}"><div class='caption1 text-secondary2'>{{ business.business_name }}</div></a>
                <i class='ph ph-caret-right text-xs text-secondary2'></i>
                <a href="{% url "business_detail" product.business.business_slug %}"><div class='caption1 text-secondary2'>Products</div></a>
                <i class='ph ph-caret-right text-xs text-secondary2'></i>
                <div class='caption1 capitalize'>{{ product.name }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock slider %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

{% block content %}

<div class="product-detail thumbnail-left default">
    <div class="featured-product underwear filter-product-img md:py-20 py-14">
        <div class="container flex justify-between gap-y-6 flex-wrap">
            <div class="list-img md:w-1/2 md:pr-[45px] w-full flex-shrink-0">
                <div class="sticky">
                    <div class="swiper mySwiper2 rounded-2xl overflow-hidden swiper-initialized swiper-horizontal swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-c416ccee6e82d8c0" aria-live="polite">
                            <!--  -->
                        <div class="swiper-slide popup-link swiper-slide-active" role="group" aria-label="1 / 4" style="width: 382px;">
                    <img src="{{ product.image.url }}" alt="img" class="w-full aspect-[3/4] object-cover">
                </div>
                <div class="swiper-slide popup-link swiper-slide-next" role="group" aria-label="2 / 4" style="width: 382px;">
                    <img src="{{ product.image2.url }}" alt="img" class="w-full aspect-[3/4] object-cover">
                </div>
                {% if product.variations.all %}
                    {% for variation in product.variations.all %}
                        {% if variation.name == 'color' %}
                            {% for product_variation in variation.values.all %}
                                {% if product_variation.image %}
                                    <div class="swiper-slide popup-link swiper-slide-next" role="group" aria-label="2 / 4" style="width: 382px;">
                                        <img src="{{ product_variation.image.url }}" alt="img" class="w-full aspect-[3/4] object-cover">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                        <div class="swiper-wrapper" id="swiper-wrapper-f9db48f549bf14de" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                            <!--  -->
                        <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active swiper-slide-thumb-active" role="group" aria-label="1 / 4" style="width: 382px;">
                    <img src="{{ product.image.url }}" alt="img" class="w-full aspect-[3/4] object-cover">
                </div>
                <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-next" role="group" aria-label="2 / 4" style="width: 382px;">
                    <img src="{{ product.image2.url }}" alt="img" class="w-full aspect-[3/4] object-cover">
                </div>
                {% if product.variations.all %}
                    {% for variation in product.variations.all %}
                        {% if variation.name == 'color' %}
                            {% for product_variation in variation.values.all %}
                                {% if product_variation.image %}
                                <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-next" role="group" aria-label="2 / 4" style="width: 382px;">
                                    <img src="{{ product_variation.image.url }}" alt="img" class="w-full aspect-[3/4] object-cover">
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
                <div class="swiper popup-img">
                    <span class="close-popup-btn absolute top-4 right-4 z-[2]">
                        <i class="ph ph-x text-3xl text-white"></i>
                    </span>
                    <div class="swiper-wrapper">
                        <!--  -->
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="product-infor md:w-1/2 w-full lg:pl-[15px] md:pl-2">
                <div class="flex justify-between">
                    <div>
                        <div class="product-category caption2 text-secondary font-semibold uppercase">fashion
                        </div>
                        <div class="product-name heading4 mt-1">{{ product.name }}</div>
                    </div>
                </div>
                <div class="flex items-center gap-1 mt-3">
                    <div class="rate flex">
                        {% for i in 0|to:overall_review %}
                            <i class="ph-fill ph-star text-lg text-yellow"></i>
                        {% endfor %}
                        {% for i in overall_review|to:5 %}
                            <i class="ph-fill ph-star text-lg text-gray"></i>
                        {% endfor %}
                    </div>
                    <span class='caption1 text-secondary'>({{ product.reviews.count }} Ratings)</span>
                </div>
                <div class="flex items-center gap-3 flex-wrap mt-5 pb-6 border-b border-line">
                    <div class="product-price heading5">${{ product.price }}</div>
                    
                    <div class='product-description text-secondary mt-3'>{{ product.description }}</div>
                </div>
                <div class="list-action mt-6">
                    {% if request.user.is_authenticated and request.user == business.seller %}
                        <a href="{% url 'product_edit' business.business_slug product.product_slug %}"><div
                            class="quick-view-btn button-main sm:py-3 py-2 sm:px-5 px-4 bg-black hover:bg-green text-white rounded-full whitespace-nowrap">
                            Edit Product
                        </div></a>
                    {% endif %}
                    {% if request.user.is_authenticated and request.user == business.seller %}
                        <form action="{% url 'product_delete' business.business_slug product.product_slug %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="quick-view-btn button-main sm:py-3 py-2 sm:px-5 px-4 bg-red hover:bg-green text-white rounded-full whitespace-nowrap">
                                Delete Product
                            </button>
                        </form>
                    {% endif %}
                    
                    {% if color_variations %}
                        <div class="choose-color mt-5">
                            <div class="text-title">Colors:</div>
                            <div class="list-color flex items-center gap-2 flex-wrap mt-3">
                                {% for color_variation in color_variations %}
                                    {% for product_variation in color_variation.values.all %}
                                        <div class="color-item w-12 h-12 rounded-xl duration-300 relative"
                                             data-color="{{ product_variation.value }}" 
                                             data-variation-id="{{ product_variation.id }}">
                                            {% if product_variation.image %}
                                                <img style="width: 100%; height: 100%; object-fit: cover" 
                                                     src="{{ product_variation.image.url }}" 
                                                     alt="color" class="rounded-xl">
                                            {% endif %}
                                            <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">
                                                {{ product_variation.value }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if size_variations %}
                        <div class="choose-size mt-5">
                            <div class="heading flex items-center justify-between">
                                <div class="text-title">Sizes:</div>
                                <div class="caption1 size-guide text-red underline">Size Guide</div>
                            </div>
                            <div class="list-size flex items-center gap-2 flex-wrap mt-3">
                                {% for size_variation in size_variations %}
                                    {% for product_variation in size_variation.values.all %}
                                        <div class="size-item w-12 h-12 flex items-center justify-center text-button rounded-full bg-white border border-line"
                                             data-size="{{ product_variation.value }}" 
                                             data-variation-id="{{ product_variation.id }}">
                                            {{ product_variation.value }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="choose-quantity flex items-center max-xl:flex-wrap lg:justify-between gap-5 mt-3">
                        
                        <div class="add-cart-btn button-main whitespace-nowrap w-full text-center bg-white text-black border border-black" data-product-id="{{ product.id }}">
                            Add To Cart
                        </div>
                    </div>                      
                                            
                    <div class="button-block mt-5">
                        <a href="checkout.html" class="button-main w-full text-center">Buy It Now</a>
                    </div>
                    <div class="more-infor mt-6">
                        <div class="flex items-center gap-4 flex-wrap">
                            <div class="flex items-center gap-1">
                                <i class='ph ph-arrow-clockwise body1'></i>
                                <div class="text-title">Delivery & Return</div>
                            </div>
                            <div class="flex items-center gap-1">
                                <i class='ph ph-question body1'></i>
                                <div class="text-title">Ask A Question</div>
                            </div>
                        </div>
                        <div class="flex items-center gap-1 mt-3">
                            <i class='ph ph-timer body1'></i>
                            <div class="text-title">Estimated Delivery:</div>
                            <div class="text-secondary">{{ product.min_delivery_time }} - {{ product.max_delivery_time }} Business Days</div>
                        </div>
                    </div>
                    <div class="list-payment mt-7">
                        <div
                            class="main-content lg:pt-8 pt-6 lg:pb-6 pb-4 sm:px-4 px-3 border border-line rounded-xl relative max-md:w-2/3 max-sm:w-full">
                            <div
                                class="heading6 px-5 bg-white absolute -top-[14px] left-1/2 -translate-x-1/2 whitespace-nowrap">
                                Guranteed safe checkout</div>
                            <div class="list grid grid-cols-6">
                                <div class="item flex items-center justify-center lg:px-3 px-1">
                                    <img src='{% static "business/" %}assets/images/payment/Frame-0.png' alt='payment' class='w-full' />
                                </div>
                                <div class="item flex items-center justify-center lg:px-3 px-1">
                                    <img src='{% static "business/assets/images/payment/Frame-1.png" %}' alt='payment' class='w-full' />
                                </div>
                                <div class="item flex items-center justify-center lg:px-3 px-1">
                                    <img src='{% static "business/assets/images/payment/Frame-2.png" %}' alt='payment' class='w-full' />
                                </div>
                                <div class="item flex items-center justify-center lg:px-3 px-1">
                                    <img src='{% static "business/assets/images/payment/Frame-3.png" %}' alt='payment' class='w-full' />
                                </div>
                                <div class="item flex items-center justify-center lg:px-3 px-1">
                                    <img src='{% static "business/assets/images/payment/Frame-4.png" %}' alt='payment' class='w-full' />
                                </div>
                                <div class="item flex items-center justify-center lg:px-3 px-1">
                                    <img src='{% static "business/assets/images/payment/Frame-5.png" %}' alt='payment' class='w-full' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="review-block md:py-20 py-10 bg-surface">
        <div class="container">
            <div class="heading flex items-center justify-between flex-wrap gap-4">
                <div class="heading4">Customer Review</div>
                <a href='#form-review' class='button-main bg-white text-black border border-black'>Write a Review</a>
            </div>
            <div class="top-overview flex justify-between py-6 max-md:flex-col gap-y-6">
                <div class="rating lg:w-1/4 md:w-[30%] lg:pr-[75px] md:pr-[35px]">
                    <div class="heading flex items-center justify-center flex-wrap gap-3 gap-y-4">
                        <div class="text-display">{{ overall_review }}</div>
                        <div class='flex flex-col items-center'>
                            <div class="rate flex">
                                {% for i in 0|to:overall_review %}
                                    <i class="ph-fill ph-star text-lg text-yellow"></i>
                                {% endfor %}
                                {% for i in overall_review|to:5 %}
                                    <i class="ph-fill ph-star text-lg text-gray"></i>
                                {% endfor %}
                            </div>
                            <div class='text-secondary text-center mt-1'>({{ product.reviews.count }} Ratings)</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="list-review">
                {% for review in reviews %}
                <div class="item flex max-lg:flex-col gap-y-4 w-full py-6 border-t border-line">
                    <div class="left lg:w-1/4 w-full lg:pr-[15px]">
                        <div class="user mt-3">
                            <div class="text-title">{{ review.user.username }}</div>
                            <div class="flex items-center gap-2">
                                <div class="text-secondary2">{{ review.date }} days ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="right lg:w-3/4 w-full lg:pl-[15px]">
                        <div class="rate flex">
                            {% for i in review.rating|times %}
                                <i class="ph-fill ph-star text-yellow"></i>
                            {% endfor %}
                            {% for i in review.rating|subtract_from:5|times %}
                                <i class="ph-fill ph-star text-gray"></i>
                            {% endfor %}
                        </div>
                        <div class="body1 mt-3">{{ review.review_text }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div id="form-review" class='form-review pt-6'>
                <div class="heading4">Leave A Comment</div>
                <form class="grid sm:grid-cols-2 gap-4 gap-y-5 mt-6" method="post">
                    {% csrf_token %}
                    <div class="col-span-full message">
                        <textarea class="border border-line px-4 py-3 w-full rounded-lg" id="message" name="message" rows="3" placeholder="Your message *" required></textarea>
                    </div>
                    <div class="col-span-full rating">
                        <label for="rating">Rating:</label>
                        <select class="border border-line px-4 py-3 w-full rounded-lg" id="rating" name="rating" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-span-full sm:pt-3">
                        <button class='button-main bg-white text-black border border-black'>Submit Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}