{% extends "business/base.html" %}

{% load static %}

{% block slider %}

<div class="breadcrumb-product">
    <div class="main bg-surface md:pt-[88px] pt-[70px] pb-[14px]">
        <div class="container flex items-center justify-between flex-wrap gap-3">
            <div class="left flex items-center gap-1 mt-10">
                <a href='{% url "home" %}' class='caption1 text-secondary2 hover:underline'>Homepage</a>
                <i class='ph ph-caret-right text-xs text-secondary2'></i>
                <a href="{% url "business_detail" service.business.business_slug %}"><div class='caption1 text-secondary2'>{{ service.business.business_name }}</div></a>
                <i class='ph ph-caret-right text-xs text-secondary2'></i>
                <a href="{% url "business_detail" service.business.business_slug %}"><div class='caption1 text-secondary2'>Services</div></a>
                <i class='ph ph-caret-right text-xs text-secondary2'></i>
                <div class='caption1 capitalize'>{{ service.name }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock slider %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

{% block content %}

<div class="product-detail thumbnail-left default">
    <div class="featured-product underwear filter-product-img md:py-20 py-14">
        <div class="container flex justify-between gap-y-6 flex-wrap">
            <div class="list-img md:w-1/2 md:pr-[45px] w-full flex-shrink-0">
                <div class="sticky">
                    <div class="swiper mySwiper2 rounded-2xl overflow-hidden swiper-initialized swiper-horizontal swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-c416ccee6e82d8c0" aria-live="polite">
                            <!--  -->
                        <div class="swiper-slide popup-link swiper-slide-active" role="group" aria-label="1 / 4" style="width: 382px;">
                    <img src="{{ service.image.url }}" alt="img" class="w-full aspect-[3/4] object-cover">
                </div>
                
            </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                        <div class="swiper-wrapper" id="swiper-wrapper-f9db48f549bf14de" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                            <!--  -->
                        </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
                <div class="swiper popup-img">
                    <span class="close-popup-btn absolute top-4 right-4 z-[2]">
                        <i class="ph ph-x text-3xl text-white"></i>
                    </span>
                    <div class="swiper-wrapper">
                        <!--  -->
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="product-infor md:w-1/2 w-full lg:pl-[15px] md:pl-2">
                <div class="flex justify-between">
                    <div>
                        <div class="product-category caption2 text-secondary font-semibold uppercase">fashion
                        </div>
                        <div class="product-name heading4 mt-1">{{ service.name }}</div>
                    </div>
                </div>
                <div class="flex items-center gap-3 flex-wrap mt-5 pb-6 border-b border-line">
                    <div class="product-price heading5">${{ service.price }}</div>

                    <div class='product-description text-secondary mt-3'>{{ service.description }}</div>
                </div>
                <div class="list-action mt-6">
                    {% if request.user.is_authenticated and request.user == service.business.seller %}
                        <a href="{% url 'service_edit' service.business.business_slug service.service_slug %}"><div
                            class="quick-view-btn button-main sm:py-3 py-2 sm:px-5 px-4 bg-black hover:bg-green text-white rounded-full whitespace-nowrap">
                            Edit Service
                        </div></a>
                        {% else %}
                        <a href="{% url 'message_seller' service.business.business_slug %}">
                            <div class="quick-view-btn button-main sm:py-3 py-2 sm:px-5 px-4 bg-black hover:bg-green text-white rounded-full whitespace-nowrap">
                                Message Seller
                            </div>
                        </a>
                    {% endif %}
                </div>

                <div class="w-1/4 mr-8" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="list-featrue">
                        <div class="item">
                            <div class="heading6">Opening Hours:</div>
                            {% for opening_hour in opening_hours %}
                            <div class="flex items-center mt-2">
                                <div class="text-secondary whitespace-nowrap">{{ opening_hour.get_day_display }}:</div>
                                {% if opening_hour.is_closed %}
                                <div class='text-title text-black whitespace-nowrap ml-2'>Closed</div>
                                {% else %}
                                {% with opening_time=opening_hour.opening_time|time:"g:sa" closing_time=opening_hour.closing_time|time:"g:sa" %}
                                <div class='text-black whitespace-nowrap ml-2'><b>{{ opening_time }} - {{ closing_time }}</b></div>
                                {% endwith %}
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}